{% extends "main.html" %}
{% block header %}
{% include "partials/heroheader.html" %}
{% endblock %}
{% block hero %}
{% include "partials/herolanding.html" %}
{% endblock %}

{% block container %}
<style>
    /* Resetting base containers so we can do what we want on the hero page */

    html {
        scroll-behavior: auto;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        transform-style: preserve-3d;
        max-height: max-content;
        min-width: 100vw;
    }

    /* Some hero-only settings on classes used on other pages */
    @media screen and (orientation: portrait) and (min-width: 416px) {
        div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
            z-index: 1100;
            margin-top: 2rem;
            object-fit: cover;
            background-color: rgba(var(--zaffre-adj), 0.6);
        }
    }

    header.md-header,
    header.md-header--shadow {
        z-index: 998 !important;
        display: block;
        pointer-events: visible;
        object-fit: cover;
        background: var(--zaffre);
        transition: opacity 750ms;
    }

    .md-source-file {
        display: none;
    }

    footer.md-footer {
        position: relative;
        bottom: 0;
        z-index: 20;
        width: 100vw;
        padding-top: 5rem;
        margin-top: 3vh;
        object-fit: cover;
    }

    div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
        z-index: 1100;
        margin-top: 2rem;
        object-fit: cover;
        background-color: rgba(var(--zaffre-adj), 0.6);
    }

    .md-container {
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between
    }
    nav.md-tabs {
        position: fixed;
        top: 4.15rem;
    }

</style>
{% endblock %}
{% block content %}
{% endblock %}
