{% extends "main.html" %}

{% block hero %}
{% include "partials/herolanding.html" %}
<style>
    /* Resetting base containers so we can do what we want on the hero page */
    .md-content__inner {
        z-index: auto;
        padding: 5.2rem 0;
        margin-bottom: 0;
    }

    div.md-main__inner {
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: auto;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        transform-style: preserve-3d;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .md_main {
        top: 0;
        left: 0;
        box-sizing: content-box;
        padding: 0;
        margin: 0;
    }

    /* Some hero-only settings on classes used on other pages */
    @media screen and (orientation: portrait) and (min-width: 416px) {
        div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
            z-index: 1100;
            margin-top: 2rem;
            object-fit: cover;
            background-color: rgba(var(--zaffre-adj), 0.6);
        }
    }

    header.md-header,
    header.md-header--shadow {
        z-index: 998 !important;
        display: block;
        pointer-events: visible;
        object-fit: cover;
        background: var(--zaffre);
        transition: opacity 750ms;
    }

    .md-source-file {
        display: none;
    }

    footer.md-footer {
        position: relative;
        bottom: 0;
        z-index: 20;
        width: var(--vw);
        padding-top: 5rem;
        margin-top: calc((var(--vh) * 0.03));
        object-fit: cover;
    }

    div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
        z-index: 1100;
        margin-top: 2rem;
        object-fit: cover;
        background-color: rgba(var(--zaffre-adj), 0.6);
    }
</style>
{% endblock %}

{% block tabs %}
{% if "navigation.tabs.sticky" not in features %}
{% if "navigation.tabs" in features %}
{% include "partials/hero_tabs.html" %}
{% endif %}
{% endif %}
{% endblock %}

{% include "partials/herobody.html" %}
{% block container %}
{% block content %}
{% endblock %}
{% endblock %}
