{% extends "main.html" %}
{% block hero %}
{% block tabs %}
{% if "navigation.tabs.sticky" not in features %}
{% if "navigation.tabs" in features %}
{% include "partials/hero_tabs.html" %}
{% endif %}
{% endif %}
{% endblock %}
{% include "partials/herolanding.html" %}
{% endblock %}

{% block container %}
<style>
    /* Resetting base containers so we can do what we want on the hero page */
    .md-content__inner {
        z-index: auto;
        padding: 5.2rem 0;
        margin-bottom: 0;
    }

    div.md-main__inner {
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: auto;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        transform-style: preserve-3d;
        max-height: max-content;
        min-width: 100vw;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .md_main {
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        min-height: fit-content;
    }

    body main.md-main div.md-main__inner.md-grid {
        padding: 0;
        margin: 0;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        column-gap: 1px;
    }

    /* Some hero-only settings on classes used on other pages */
    @media screen and (orientation: portrait) and (min-width: 416px) {
        div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
            z-index: 1100;
            margin-top: 2rem;
            object-fit: cover;
            background-color: rgba(var(--zaffre-adj), 0.6);
        }
    }

    header.md-header,
    header.md-header--shadow {
        z-index: 998 !important;
        display: block;
        pointer-events: visible;
        object-fit: cover;
        background: var(--zaffre);
        transition: opacity 750ms;
    }

    .md-source-file {
        display: none;
    }

    footer.md-footer {
        position: relative;
        bottom: 0;
        z-index: 20;
        width: 100vw;
        padding-top: 5rem;
        margin-top: calc((100vh * 0.03));
        object-fit: cover;
    }

    div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
        z-index: 1100;
        margin-top: 2rem;
        object-fit: cover;
        background-color: rgba(var(--zaffre-adj), 0.6);
    }

    .mid-grid {
        padding: 0;
        margin: 0;
    }

    .md-container {
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between
    }
</style>
{% endblock %}
{% block content %}
{% endblock %}
