{% extends "main.html" %}

{% block site_nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{
    hidden }}>
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/nav.html" %}
        </div>
    </div>
</div>

<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{
    hidden }}>
    {% include "partials/license_toc.html" %}

    <div class="md-sidebar__scrollwrap" id="license_toc">
        <div class="md-sidebar__inner" id="license-sidebar-inner">
            <div class="md-nav md-nav--secondary">
                {% include "partials/license_tags.html" %}
            </div>
            <div class="md-nav md-nav--secondary">
                <div class="expandable-section">
                    <input type="checkbox" id="section-toggle" class="section-toggle"
                        aria-hidden="true">
                    <label for="section-toggle" class="section-header" role="button"
                        aria-expanded="false" aria-controls="section-content">
                        <span class="triangle" aria-hidden="true"></span>
                        How to Use This License
                    </label>
                    <div class="section-content">
                        <div id="section-content">
                            {{ page.meta['how'] | trim }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block content %}
<h1>The {{ page.meta['plain_name'] }}</h1>
<h2 style="margin: 0; padding: 0;"><span class="twemoji xlarge"><svg style="fill: var(--emerald);"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1200">
            <path
                d="M600 127.12A472.89 472.89 0 1 0 1072.88 600a473.23 473.23 0 0 0-472.87-472.87zM673.5 900a23.45 23.45 0 0 1-23.44 23.44H549.94A23.45 23.45 0 0 1 526.51 900V500.06a23.45 23.45 0 0 1 23.43-23.44h100.12a23.45 23.45 0 0 1 23.44 23.44zM600 423.38a73.51 73.51 0 1 1 .13-147 73.5 73.5 0 0 1-.13 147z" />
        </svg></span> About</h2>
<div class="license_about_intro_container">
    <div class="license_intro"> {{ page.meta['license_description'] }} </div>

</div>
{% block license_content %}
{% include "partials/license_content.html" %}
{% endblock %}
{% endblock %}
