{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
    const ourDomain = document.location.origin;
    const homeLinks = [...document.getElementsByTagName('a')].filter(a =>
        a.href === (ourDomain + '/') || a.href === (ourDomain + '/index.html')
    );

    const reloadHome = async (event) => {
        const target = event.target.closest('a');
        if (target && homeLinks.includes(target)) {
            event.preventDefault();
            await new Promise(resolve => setTimeout(resolve, 0));
            location.assign(target.href);
            location.reload();
        }
    };

    homeLinks.forEach(link => {
        link.addEventListener('click', reloadHome);
        link.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                reloadHome(event);
            }
        });
        link.addEventListener('touchstart', reloadHome);
    });
    </script>
{% endblock %}
