<script>
    (() => {
        let pixel_url_base = "https:\/\/app.tinyanalytics.io\/";
        let pixel_key = "ei74pg7dZSNOtFvI";
        let pixel_exposed_identifier = "tinyanalytics";
        let pixel_goals = [];

        /* Helper messages */
        let pixel_key_verify_message =
            "The Pixel Code has been installed properly.";
        let pixel_key_dnt_message =
            "Do Not Track is enabled, we are respecting your privacy and we do not track you.";

        const _0x1096 = [
            "location",
            "www.",
            "get",
            "protocol",
            "msDoNotTrack",
            "yes",
            "doNotTrack",
            "replace",
            "startsWith",
            "searchParams",
            "href",
            "pixel_verify",
        ];
        (function (_0x3bfe32, _0x26fa27) {
            const _0x109695 = function (_0x1e250e) {
                while (--_0x1e250e) {
                    _0x3bfe32["push"](_0x3bfe32["shift"]());
                }
            };
            _0x109695(++_0x26fa27);
        })(_0x1096, 0x167);
        const _0x1e25 = function (_0x3bfe32, _0x26fa27) {
            _0x3bfe32 = _0x3bfe32 - 0xca;
            let _0x109695 = _0x1096[_0x3bfe32];
            return _0x109695;
        };
        let is_do_not_track = () => {
            const _0x13bc1c = _0x1e25;
            return window["doNotTrack"] ||
                navigator["doNotTrack"] ||
                navigator["msDoNotTrack"]
                ? window[_0x13bc1c(0xd1)] == "1" ||
                navigator["doNotTrack"] == _0x13bc1c(0xd0) ||
                navigator[_0x13bc1c(0xd1)] == "1" ||
                navigator[_0x13bc1c(0xcf)] == "1"
                : ![];
        },
            pixel_verify = () => {
                const _0x14aa3e = _0x1e25;
                let _0x3dacfa = new URL(document[_0x14aa3e(0xcb)])[_0x14aa3e(0xd4)],
                    _0x50472c = _0x3dacfa[_0x14aa3e(0xcd)](_0x14aa3e(0xca));
                _0x50472c !== null &&
                    (_0x50472c != ""
                        ? pixel_key == _0x50472c && alert(pixel_key_verify_message)
                        : alert(pixel_key_verify_message));
            },
            get_current_url_domain_no_www = () => {
                const _0x524b91 = _0x1e25;
                let _0x25d032 = window["location"][_0x524b91(0xd5)][_0x524b91(0xd2)](
                    window[_0x524b91(0xcb)][_0x524b91(0xce)] + "//",
                    ""
                ),
                    _0x540b0f = "www.";
                return (
                    _0x25d032[_0x524b91(0xd3)](_0x540b0f) &&
                    (_0x25d032 = _0x25d032[_0x524b91(0xd2)](_0x524b91(0xcc), "")),
                    _0x25d032
                );
            };

        let send_data_beacon = (data) => {
            try {
                navigator.sendBeacon(
                    `${pixel_url_base}pixel-track/${pixel_key}`,
                    JSON.stringify(data)
                );
            } catch (error) {
                console.log(`Analytics pixel: ${error}`);
            }
        };

        class AltumCodeEvents {
            /* Create and initiate the class with the proper parameters */
            constructor() {
                /* Expose function to window */
                window[pixel_exposed_identifier] = {
                    goal: (key) => {
                        this.event_goal_conversion(key);
                    },
                };

                /* Data */
                let url_params = new URLSearchParams(window.location.search);

                let data = {
                    path: window.location.pathname,
                    referrer: document.referrer.includes(
                        `${location.protocol}//${location.host}${location.pathname}`
                    )
                        ? null
                        : document.referrer,
                    utm: {
                        source: url_params.get("utm_source"),
                        medium: url_params.get("utm_medium"),
                        campaign: url_params.get("utm_campaign"),
                    },
                    resolution: {
                        width: window.screen.width,
                        height: window.screen.height,
                    },
                };

                /* Detect if unique or not */
                let referrer_url = document.createElement("a");
                referrer_url.href = document.referrer;
                let current_url = document.createElement("a");
                current_url.href = window.location.href;

                let type =
                    document.referrer.trim() == "" ||
                        referrer_url.hostname != current_url.hostname
                        ? "landing_page"
                        : "pageview";

                /* Send the data to the server */
                send_data_beacon({
                    type,
                    url: window.location.href,
                    data,
                });

                /* Goals tracking if needed */
                if (pixel_goals.length) {
                    let current_domain = get_current_url_domain_no_www();

                    /* Iterate on all goals and initiate them if needed */
                    for (let goal of pixel_goals) {
                        /* Check if goal url matches the current url */
                        if (
                            goal.type == "pageview" &&
                            (goal.url == current_domain ||
                                goal.url == "www." + current_domain)
                        ) {
                            this.event_goal_conversion(goal.key);
                        }
                    }
                }
            }

            event_goal_conversion(key) {
                /* Iterate on all goals and initiate them if needed */
                for (let goal of pixel_goals) {
                    /* Check if goal url matches the current url */
                    if (goal.key == key) {
                        /* Send the goal completion */
                        send_data_beacon({
                            type: "goal_conversion",
                            url: window.location.href,
                            goal_key: goal.key,
                        });

                        break;
                    }
                }
            }
        }

        const _0x1800 = [
            "documentElement",
            "doScroll",
            "DOMContentLoaded",
            "script[src$=\x22pixel/",
            "complete",
            "log",
            "readyState",
            "ignoreDnt",
            "dataset",
        ];
        (function (_0x3f95af, _0x235f27) {
            const _0x180020 = function (_0x28faa6) {
                while (--_0x28faa6) {
                    _0x3f95af["push"](_0x3f95af["shift"]());
                }
            };
            _0x180020(++_0x235f27);
        })(_0x1800, 0x191);
        const _0x28fa = function (_0x3f95af, _0x235f27) {
            _0x3f95af = _0x3f95af - 0x1af;
            let _0x180020 = _0x1800[_0x3f95af];
            return _0x180020;
        };
        const _0x482dde = _0x28fa;
        let altumcodestart = () => {
            const _0x2f744c = _0x28fa;
            pixel_verify();
            let _0xeccc88 = document["querySelector"](
                _0x2f744c(0x1b6) + pixel_key + "\x22]"
            ),
                _0x3348a3 = is_do_not_track(),
                _0x9a2ee7 =
                    !_0x3348a3 ||
                    (_0x3348a3 && _0xeccc88[_0x2f744c(0x1b2)][_0x2f744c(0x1b1)]);
            if (_0x9a2ee7) {
                let _0x55ab86 = new AltumCodeEvents();
            } else
                _0x3348a3 &&
                    console[_0x2f744c(0x1af)](
                        pixel_url_base + ":\x20" + pixel_key_dnt_message
                    );
        },
            altumcodeprestart = () => {
                altumcodestart();
            };
        document[_0x482dde(0x1b0)] === _0x482dde(0x1b7) ||
            (document[_0x482dde(0x1b0)] !== "loading" &&
                !document[_0x482dde(0x1b3)][_0x482dde(0x1b4)])
            ? altumcodeprestart()
            : document["addEventListener"](_0x482dde(0x1b5), () => {
                altumcodeprestart();
            });
    })();
</script>
