<div id="easter-egg-overlay">
    <p class="info-box" id="egg-box">
        <strong>Who is the hero in these images?</strong>
        <br /><br />Her name is Yoshimi; she defeated <a
            href="https://en.wikipedia.org/wiki/Yoshimi_Battles_the_Pink_Robots,_Pt._1"
            title="Wikipedia: Yoshimi Battles the Pink Robots, part 1"
            aria-label="Wiki link for song Yoshimi Battles the Pink Robots">the
            pink robots</a>
        and offered help us fight confusing licenses. She travels through time, space,
        and the multiverse to help defeat the evil forces of Legalese, led by the lawyer battle
        robots of the pan-universal law firm, Confusion Limited Liability Partners.<br /><br />She
        fights them off armed only with her trusty battle
        pencil, "plain language." Yoshimi is a hero for the ages. We can't win this fight without
        people like her, and we can't win it without you.
        Join us in the fight against confusing licenses!
    </p>
</div>
