<div class="hero" data-component="hero" contenteditable="false">
    <div class="hero__parallax" data-mdx-component="parallax" data-md-color-scheme="slate"
        contenteditable="false">
        <div data-md-color-scheme="slate" class="hero-parallax__layer fade-overlay"
            id="parallax-hero-image-layer" contenteditable="false">
            <noscript>
                {{ no_script_image }}
                <style>
                    html {
                        scroll-behavior: smooth;
                    }

                    @media screen and (prefers-reduced-motion: reduce) {
                        html {
                            scroll-behavior: auto;
                        }
                    }
                </style>
            </noscript>
            <div class="mdx-hero__teaser">
                <h1 contenteditable="false" id="CTA_header" class="cta-ul">Join the
                    Fight!</h1>
                <p id="CTA_paragraph" contenteditable="false">Against Confusing
                    Licenses!</p>
                <div class="hero-cta-button">
                    <a class="hero-target-selector"
                        href="#pt3-hero-content-section" data-smooth-scroll data-scroll-duration="5"
                        data-scroll-pause-duration="1.7"
                        data-anchor-target="#pt3-hero-content-section"
                        data-scroll-pause-id="#pt2-hero-content-section" contenteditable="false">

                        <div contenteditable="false" role="button" id="hero-primary-button"
                            class="md-button">Get
                            Clear
                            Terms
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg"
            aria-label="click to learn more about the hero in our landing page images" tabindex="0"
            role="button" data-toggle="modal" data-target="#egg-box" class=".md-typeset"
            viewBox="0 0 24 24" id="the-egg">
            <path
                d="M10.97 8.27a1.45 1.45 0 0 0-.49.57.75.75 0 0 1-1.34-.67c.2-.4.52-.83 1-1.15.49-.33 1.1-.52 1.86-.52.66 0 1.37.2 1.93.62a2.45 2.45 0 0 1 1 2c0 1.04-.5 1.73-1.02 2.22-.19.18-.4.36-.58.5l-.15.13a4.33 4.33 0 0 0-.43.41v1.37a.75.75 0 1 1-1.5 0v-1.47c0-.24.07-.5.25-.74.22-.28.48-.52.71-.71l.19-.16.47-.4c.37-.36.57-.69.57-1.15a.95.95 0 0 0-.4-.8C12.76 8.12 12.37 8 12 8c-.5 0-.81.12-1.03.27ZM13 17a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
            <path
                d="M12 1a11 11 0 1 1 0 22 11 11 0 0 1 0-22ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Z" />
        </svg>

        <a href="#pt3-hero-content-section" class="hero-target-selector" data-smooth-scroll
            data-scroll-duration="6" data-scroll-pause-duration="1.5"
            data-anchor-target="#pt3-hero-content-section"
            data-scroll-pause-id="#pt2-hero-content-section">
            <svg viewBox="0 0 24 24"
                class="hero__scroll-down" id="arrow-down" title="scroll down for more"
                xmlns="http://www.w3.org/2000/svg" role="button" contenteditable="false">
                <path d="M11 4h2v12l5.5-5.5 1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5 11 16z">
                </path>
            </svg>
        </a>
    </div>
</div>
