{% if page.meta and page.meta['hide'] %}
{% set hidden = "hidden" if "tags" in page.meta['hide'] %}
{% endif %}
{% set meta = page.meta %}
{% set license_type = meta['license_type'] %}
<p class="md-nav__description license">
    {{ license_type }} features
</p>
<nav class="md-tags">
    {% macro replacer(tag_text, license_type) %}
    {{ tag_text | replace("{{ license_type }}", license_type) | trim }}
    {% endmacro %}
    {% if config.extra.tags and page.meta['tags'] %}
    {% set configtags = config.extra.tags %}
    {% set tags = page.meta['tags'] %}
    {% else %}
    {% set tags = [] %}
    {% endif %}
    {% for tag in tags %}
    {% set icon = " md-tag-icon" %}
    {% set icon_name = configtags[tag.name] %}
    {% set tagtext = config['extra']['boilerplate']['tag_text'][tag.name] %}
    {% set rendered_text = replacer(tagtext, license_type) %}
    {% set icon = icon ~ " md-tag--" ~ icon_name %}
    {% set tagurl = config.site_url ~ "/tags.html#" ~ tag.name | url %}
    <a href="{{ tagurl }}" class="md-tag{{ icon }}" title="{{ rendered_text }}">
    </a>
    {% endfor %}
</nav>
