[data-md-color-scheme="slate"] {
  --md-hue: 235.2;
  --md-typeset-a-color: var(--ecru);
  --md-default-fg-color--light: hsla(var(--md-hue), 15%, 90%, 0.75);
}

[data-md-color-scheme="slate"] .md-typeset .md-button {
  color: var(--emerald);
  transition: all ease-out 200ms;
}

[data-md-color-scheme="slate"] .md-typeset .md-button:hover {
  color: var(--emerald);
  background-color: var(--zaffre);
  transition: all ease-out 200ms;
}

.md-typeset dl p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.95rem;
  line-height: 1.6em;
}

.md-typeset summary {
  font-size: 1.2em;
  font-weight: 500;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-family: "Noto Sans", Lato, Raleway, Helvetica, Arial, sans-serif;
}

.md-typeset {
  font-size: 0.9rem;
  line-height: 1.6;
}

body {
  font-size: 0.6rem;
}

.md-typeset h1 {
  margin: 0.6em 0 1em 0;
  font-size: 1.75em;
  line-height: 1.2;
}

.md-typeset h2 {
  margin: 1em 0 0.75em;
  font-size: 1.4em;
  line-height: 1.3;
}

.md-typeset h3 {
  margin: 1em 0 0.7em;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.4;
}

.md-typeset h4 {
  margin: 1em 0 0.6em;
  font-size: 1.2em;
  line-height: 1.5;
}

.md-typeset h5,
.md-typeset h6 {
  margin: 1em 0 0.5em;
  font-size: 1em;
  line-height: 1.6;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 400;

  /* Slightly increased from 300 for better readability */
}

.md-typeset .md-typeset__table {
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  text-align: center;
}

.md-typeset .md-typeset__table,
.md-typeset .md-typeset__table table {
  text-align: center;
  --columns: 2;
}

.md_typeset .md-typeset__table table {
  border-spacing: 0;
  border-collapse: collapse;
}

.md-typeset .md-typeset__table th {
  padding: 1em;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}

.md-typeset .md-typeset__table td {
  padding: 1em;
  font-size: 1.2em;
  text-align: left;
}

[data-md-color-scheme="default"] {

  .md-typeset h1,
  .md-typeset h2,
  .md-typeset h3,
  .md-typeset h4,
  .md-typeset h5,
  .md-typeset h6 {
    color: hsla(var(--md-hue), 100%, 23%, 1);
  }
}

/* Styling for the header and navigation tabs */
a.md-header__button.md-logo img {
  width: auto;
  height: 3.5rem;
}

.md-tabs {
  display: flex;
  height: 3em;
  text-align: center;
}

.md-tabs__link {
  align-items: baseline;
  margin: 0.3em 1em;
  font-size: 1.7em;
  font-weight: 500;
  transition: all ease-out 200ms;
}

li.md-tabs__item a.md-tabs__link:hover {
  color: var(--emerald);
}

.md-ellipsis {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.md-nav__container a.md-nav__link {
  margin: 0.02em 0;

  font-size: 1.2em;
  font-weight: 500;
}

li.md-nav__item--active:nth-child(4)> div:nth-child(2)> a:nth-child(1)> span:nth-child(1) {
  margin: 0;
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--md-default-fg-color--light) !important;
  border-bottom: 0.03em dotted var(--ecru);
}
div.md-nav__link.md-nav__container a.md-nav__link span#nav-item-main.md-ellipsis::before {
  margin: 0;
  font-size: 0.7em;
  color: var(--ecru);
  content: "→ ";
}

div.md-nav__link.md-nav__container a.md-nav__link span#nav-item-main.md-ellipsis {
  margin-left: 0;
  font-size: 1.1em;
  border-bottom: 0.05em dotted var(--ecru);
}

a.md-nav__link:nth-child(3)> span:nth-child(1) {
  color: var(--md-default-fg-color);
}

a.md-nav__link--active:nth-child(3)> span:nth-child(1)::before {
  margin-left: 0;
  font-size: 0.7em;
  color: var(--ecru);
  content: "↳ ";
}

a.md-nav__link--active:nth-child(3)> span:nth-child(1) {
  font-size: 1.2em;
  border-bottom: 0.1em solid var(--ecru);
}

/* the second level of nav */
nav.md-nav ul.md-nav__list li.md-nav__item a.md-nav__link span.md-ellipsis {
  margin-top: 0.01em;
  margin-left: 0.5em;
}

.md-typeset .admonition {
  font-size: 0.8em;
}

@media screen and (max-width: 76.2344em) {
  .md-tabs {
    display: none;
  }
}

.progress-bar {
  float: left;
  height: 1.2rem;
  background-color: var(--zaffre);
}

.md-typeset .progress-label {
  position: absolute;
  width: 100%;
  margin: 0;
  font-weight: 700;
  line-height: 1.4rem;
  color: var(--md-text-color);
  text-align: center;
  /* stylelint-disable-next-line @stylistic/max-line-length */
  text-shadow: -0.0625em -0.0625em 0.375em var(--md-default-bg-color--light), 0.0625em \-0.0625em 0.375em var(--md-default-bg-color--light), -0.0625em 0.0625em 0.375em var(--md-default-bg-color--light), 0.0625em 0.0625em 0.375em var(--md-default-bg-color--light);
  white-space: nowrap;
}

.md-typeset .progress {
  position: relative;
  display: block;
  width: 100%;
  height: 1.2rem;
  margin: 0.5rem 0;
  background-color: var(--md-default-fg-color--lightest);
}

.md-typeset .progress.candystripe .progress-bar {
  /* stylelint-disable-next-line @stylistic/max-line-length */
  background-image: linear-gradient(135deg, var(--emerald) 27%, transparent 27%, transparent 52%, var(--emerald) 52%, var(--emerald) 77%, transparent 77%, transparent);
  background-size: 2rem 2rem;
}

.progress-100plus .progress-bar {
  background-color: var(--zaffre);
}

.progress-80plus .progress-bar {
  background-color: var(--ecru);
}

.progress-60plus .progress-bar {
  background-color: var(--atomic-tangerine);
}

.progress-40plus .progress-bar {
  background-color: var(--turkey-red);
}

.progress-20plus .progress-bar {
  background-color: var(--turkey-red);
}

.progress-0plus .progress-bar {
  background-color: var(--turkey-red);
}
