/* Styling for definitions in license tabbed blocks */

.md-typeset .tabbed-block dl dt code.highlight {
    font-size: 1em !important;
    font-weight: 500 !important;
}

[data-md-color-scheme="slate"] .md-typeset .tabbed-block dl dt code.highlight {
    color: var(--ecru) !important;
}

[data-md-color-scheme="default"] .md-typeset .tabbed-block dl dt code.highlight {
    color: var(--zaffre) !important;
}

/* Special highlighting to make words stand out in an admonition title */
[data-md-color-scheme="default"] #detail-title-highlight {
    color: var(--blue-blue);
    font-weight: 700;
}

[data-md-color-scheme="slate"] #detail-title-highlight {
    color: var(--emerald);
    font-weight: 700;
}

/* Styling for the license divider in the license reader view */
[data-md-color-scheme="default"] p.license-divider {
    padding-top: 3.125em;
    border-bottom: .188em dotted var(--ecru);
}

[data-md-color-scheme="slate"] p.license-divider {
    padding-top: 3.125em;
    border-bottom: .188em dotted var(--air-superiority-blue);
}

/* Styling blocks for the license header in the license reader view */
[data-md-color-scheme="slate"] h1.license-title {
    color: var(--ecru);
}

[data-md-color-scheme="default"] h1.license-title {
    color: var(--blue-blue);
    border-bottom: .1em solid var(--ecru);
}

.md-typeset .tabbed-block h2.license-first-header {
    margin: 0 0 0.5em 0;
    padding: 0;
    text-align: left;
}

.license-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .313em .938em 0px 0px;

    padding: 0;
}

.license-title {
    margin: 0;
    text-align: left;
    justify-self: left;
    line-height: 0;
}

.version-info {
    text-align: center;
    margin: 1.875em .313em .313em .938em;
    padding: .65em;
    border-radius: .313em;
    font-size: .85em;
    align-self: flex-start;
    justify-self: normal;
}
.version-info {
    background-color: var(--air-superiority-blue);
    color: white;

}

.version-info p {
    margin: 0;
    font-weight: 500;
}
.version-info p.original_version {
    font-weight: 400;
    }

.version-info p.plain_version {
    font-weight: 800;
}


/* Styling for the license tabbed labels in the license reader view */
.md-typeset .tabbed-labels>label>[href]:first-child { /* the tab bar */
    margin-bottom: 0.5em;
}
.md-typeset .tabbed-labels--linked>label>a{ /* tab font */
    font-size: 1.1em;
}

.md-typeset .tabbed-labels>label>[href]:first-child:hover { /* link hover in tabs */
    color: var(--ecru);
}

.md-typeset .tabbed-labels::before
{
    /* underline for active tab */
    border-bottom: .125em solid var(--ecru);
    margin-bottom: 0.3em;
}

p.md-nav__description.license {
    font-size: 1em;
    font-weight: 700;
    color: var(--md-default-fg-color--lighter);
    margin-top: 1em;
    border-bottom: .125em solid var(--emerald);
    min-height: 3em;
    font-size-adjust: calc(1em + 1vw);
    text-align: center;
    vertical-align: bottom;
    padding-top: 1.5em;
    position: relative;
}

/* styling for quicklinks on right sidebar for licenses */
.md-nav.md-nav--secondary .quick_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-end;
    width: 100%;
    min-height: 3em;
    margin: .5em .2em;
    padding: .01em;
}
.md-nav.md-nav--secondary .quick_links .quicklink_group {
    min-width: 3em;
    max-width: 3em;
    margin: .01em;
    padding: .01em;
}

/* initial quicklink color */
[data-md-color-scheme="default"] nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group span.tab_quick_link svg path {
    fill: var(--zaffre);
    transition: fill 0.3s ease;
}

[data-md-color-scheme="slate"] nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group span.tab_quick_link svg path {
    fill: var(--md-default-fg-color--light);
}

/* quicklink styling on hover */
nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:hover span.tab_quick_link svg path {
    cursor: pointer;
    fill: var(--emerald);
    width: 100%;
}

.md-typeset .tabbed-labels > label > [href]:first-child.hovered {
    cursor: pointer;
    color : var(--emerald);
}

nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:active {
    border-bottom: .125em solid var(--ecru);
}

div.tabbed-set.tabbed-alternate div.tabbed-labels.tabbed-labels--linked label a span.twemoji {
    margin-left: 0.3em;
}

/* Change color on active */
nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:active span.tab_quick_link svg path {
    fill: var(--ecru);
}

.license_about_intro_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.license_about_intro_container .license_intro {
    font-size: 1em;
    font-weight: 500;
    color: var(--md-default-fg-color--light);
    text-align: left;
    padding: 2em 3em 2em 1em;
    width: 85%;

}

.license_about_intro_container .intro_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-right: 1em;
    padding: 0.5em;
}

.license_about_intro_container .intro_icon svg {
    width: 100%;
    height: 100%;
    fill: var(--emerald);
}

.license_about_intro_container .intro_icon path {
    fill: inherit;
}

/* tag styling for license sidebar */
#license-sidebar-inner {
    overflow-x: hidden;;
}

#license-sidebar-inner .md-tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap: .5em;
    margin-bottom: .75em;
    margin-top: .5em;
    min-height: 3em;
    width: 100%;

}

#license-sidebar-inner .md-tag {
    align-items: center;
    background: var(--md-default-fg-color--lightest);
    border-radius: 2.4rem;
    display: inline-flex;
    font-size: .64rem;
    font-size: min(.8em, .64rem);
    font-weight: 700;
    gap: .5em;
    letter-spacing: normal;
    line-height: 1.6;
    padding: .3125em .125em
}

#license-sidebar-inner .md-tag[href] {
    -webkit-tap-highlight-color: transparent;
    color: var(--emerald);
    outline: none;
    transition: color 125ms, background-color 125ms
}

#license-sidebar-inner .md-tag[href]:focus,
#license-sidebar-inner .md-tag[href]:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color)
}

#license-sidebar-inner [id]>.md-tag {
    vertical-align: text-top
}

#license-sidebar-inner .md-tag-icon::before {
    background-color: var(--md-accent-bg-color);
    content: "";
    display: inline-block;
    height: 3em;
    -webkit-mask-image: var(--md-tag-icon);
    mask-image: var(--md-tag-icon);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: background-color 125ms;
    vertical-align: text-bottom;
    width: 3em
}

#license-sidebar-inner .md-tag-icon[href]:focus:before,
#license-sidebar-inner .md-tag-icon[href]:hover:before {
    background-color: var(--md-accent-bg-color)
}

.license_about_intro_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-self: center;
    width: 100%;
    min-height: 3em;
    margin: .5em .5em;
    padding: .2em;
    box-sizing: content-box;
}

/* expanding how-to-use section */
.expanding-section {
    margin: 1.25em 0;
}

.section-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}

.triangle {
    margin-right: 2em;
    margin-left: .5em;
    transition: transform 0.3s ease;
    color: var(--emerald);
}

.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 1.25em;
    /* To align with header text */
}

.section-content p {
    padding: 1em;
    margin: 0;
    background-color: var(--cool-gray);
    color: var(--night);
    border-radius: 2em;
}

.section-content p a {
    color: var(--zaffre);
    cursor: pointer;
}

.section-content p a:hover {
    color: var(--emerald);
}


[data-md-color-scheme="slate"] #license-sidebar-inner .md-tag[href]::before {
    background: var(--md-default-fg-color--light);

}
