

[data-md-color-scheme="slate"] {
    --md-hue: 235.2;
    --md-typeset-a-color: var(--ecru);
    --md-default-fg-color--light: hsla(var(--md-hue), 15%, 90%, 0.75);
}

[data-md-color-scheme="slate"] .md-typeset .md-button {
    color: var(--emerald);
}

[data-md-color-scheme="slate"] .md-typeset .md-button:hover {
    color: var(--emerald);
    background-color: var(--zaffre);
}

.md-typeset dl p {
    font-size: .95rem;
    line-height: 1.6em;
    font-family: Noto Sans, sans-serif;
}

.md-typeset summary {
    font-size: 1.2em;
    font-weight: 500;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-family: Montserrat, Raleway, Poppins, Lato, Noto Sans, Helvetica, Arial, sans-serif;
}

.md-typeset {
    font-size: .9rem;
    line-height: 1.6;
}

body {
    font-size: 0.6rem;
}

.md-typeset h1 {
    font-size: 1.75em;
    line-height: 1.2;
    margin: .6em 0 1em 0;
}

.md-typeset h2 {
    font-size: 1.4em;
    line-height: 1.3;
    margin: 1em 0 0.75em;
}

.md-typeset h3 {
    font-size: 1.3em;
    line-height: 1.4;
    margin: 1em 0 0.7em;
}

.md-typeset h4 {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 1em 0 0.6em;
}

.md-typeset h5,
.md-typeset h6 {
    font-size: 1em;
    line-height: 1.6;
    margin: 1em 0 0.5em;
}

.md-typeset h1,
.md-typeset h2 {
    font-weight: 400;
    /* Slightly increased from 300 for better readability */
}

.md-typeset h3 {
    font-weight: 500;
    /* Increased from 400 to differentiate from body text */
}

.md-typeset .md-typeset__table {
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    text-align: center;
}

.md-typeset .md-typeset__table,
.md-typeset .md-typeset__table table {
    text-align: center;
    --columns: 2;
}

.md_typeset .md-typeset__table table {
    border-collapse: collapse;
    border-spacing: 0;
}

.md-typeset .md-typeset__table th {
    font-size: 1.4em;
    font-weight: 600;
    padding: 1em;
    text-align: center;
}

.md-typeset .md-typeset__table td {
    font-size: 1.2em;
    padding: 1em;
    text-align: left;
}

[data-md-color-scheme="default"] {

    .md-typeset h1,
    .md-typeset h2,
    .md-typeset h3,
    .md-typeset h4,
    .md-typeset h5,
    .md-typeset h6 {
        color: hsla(var(--md-hue), 100%, 23%, 1);
    }
}

/* Styling for the header and navigation tabs */
a.md-header__button.md-logo img {
    height: 3.5rem;
    width: auto;
}

.md-tabs {
    height: 3em;
    text-align: center;
    display: flex;
}

.md-tabs__link {
    align-items: baseline;
    font-size: 1.7em;
    font-weight: 500;
    margin: .3em 1em;

}

li.md-tabs__item a.md-tabs__link:hover {
    color: var(--emerald);
}

.md-ellipsis {
    font-size: 1.2em;
    margin-bottom: .5em;
}


.md-nav__container a.md-nav__link {

    font-size: 1.2em;
    font-weight: 500;
    margin: .02em 0;
}


li.md-nav__item--active:nth-child(4)>div:nth-child(2)>a:nth-child(1)>span:nth-child(1) {
    color: var(--md-default-fg-color--light) !important;
    border-bottom: .03em dotted var(--ecru);
    margin: 0em;
}

li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested nav.md-nav ul.md-nav__list li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested div.md-nav__link.md-nav__container a.md-nav__link span#nav-item-main.md-ellipsis::before {
    content: "→ ";
    margin: 0em;
    color: var(--ecru);
    font-size: 0.7em;

}

li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested nav.md-nav ul.md-nav__list li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested div.md-nav__link.md-nav__container a.md-nav__link span#nav-item-main.md-ellipsis {
    margin-left: 0em;
    border-bottom: .05em dotted var(--ecru);
    font-size: 1.1em;

}

a.md-nav__link:nth-child(3)>span:nth-child(1) {
    color: var(--md-default-fg-color);
}
a.md-nav__link--active:nth-child(3)>span:nth-child(1)::before {
    content: "↳ ";
    margin-left: 0em;
    color: var(--ecru);
    font-size: 0.7em;
}

a.md-nav__link--active:nth-child(3)>span:nth-child(1) {
    border-bottom: .1em solid var(--ecru);
    font-size: 1.2em;
}

/* the second level of nav */
li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested nav.md-nav ul.md-nav__list li.md-nav__item.md-nav__item--section.md-nav__item--nested nav.md-nav ul.md-nav__list li.md-nav__item a.md-nav__link span.md-ellipsis {
    margin-top: 0.01em;
    margin-left: .5em;
}

.md-typeset .admonition {
    font-size: .8em;
}
