/**
Main stylesheet for the home page

These are basic customizations for the home page.
*/

@font-face {
    font-family: "Bangers", system-ui;
    src:
        local('Bangers'),
        local('Bangers Regular'),
        local('Bangers-Regular'),
        url("assets/fonts/Bangers-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    unicode-range: +0000-00FF,
        U+0131,
        U+0152-0153,
        U+02BB-02BC,
        U+02C6,
        U+02DA,
        U+02DC,
        U+0304,
        U+0308,
        U+0329,
        U+2000-206F,
        U+2074,
        U+20AC,
        U+2122,
        U+2191,
        U+2193,
        U+2212,
        U+2215,
        U+FEFF,
        U+FFFD;
    /*unicode-range: U+21, U+26, U+65-90, U+97-122*/
}

html.js-focus-visible {
    background-color: transparent;
    border: none;
    z-index: auto;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.md-content header {
    display: block;
    transition: opacity .75s;
}

header.md-header:not(.md-header--shadow) {
    background-color: rgb(var(--zaffre));
    background: linear-gradient(180deg, rgba(var(--zaffre-adj), 1) 60%, rgba(var(--zaffre-adj), .9) 100%) !important;
    z-index: 21;
}

#header-target {
    pointer-events: visible;
    z-index: 1000 !important;
    background: linear-gradient(180deg, rgba(var(--zaffre-adj), 1) 60%, rgba(var(--zaffre-adj), .9) 100%) !important;
    object-fit: cover;
}

.md_main {
    z-index: auto;
}

.md-main__inner {
    margin: 0;
}

/** Hero section */

.hero {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    gap: 0;
    position: absolute;
    object-fit: cover;
    scroll-behavior: smooth;
    z-index: 0;
    background: rgb(var(--gunmetal));
    background: linear-gradient(180deg, rgba(var(--gunmetal-adj), 0) 75%, rgba(var(--gunmetal-adj), 1) 100%) !important;
}

.hero__parallax {
    margin-top: -2.4rem;
    gap: 0;
    order: -1;
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 100vw;
    scroll-snap-type: y proximity;
    scroll-snap-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    position: relative;
    scroll-behavior: smooth;
    overscroll-behavior-y: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(var(--gunmetal));
    background-attachment: fixed;
    background-repeat: no-repeat;
    perspective: 2.5rem;
    z-index: 1;

}

.hero-parallax__layer {

    height: 100vh;
    width: 100vw;
    order: -1;
    pointer-events: auto;
    position: relative;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: grid;
    align-content: start;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.hero-parallax__image {
    grid-column-start: 1;
    justify-self: start;
    align-self: start;
    display: block;
    width: 100%;
    margin-top: 0;
    flex-grow: 2;
    top: 0;
    position: absolute;
    padding: 0;
    z-index: -5;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--gunmetal);
    opacity: 0;
    transition: opacity 1s ease-out;
}

.hero-parallax__layer .hero-parallax__image:first-child {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.md-content__inner {
    margin-bottom: 0;
    padding: 5.2rem 0;
    z-index: auto;
}

.mdx-hero__teaser {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: end;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    bottom: 15%;
    right: 60;
    z-index: 40;
    width: 80%;
    padding-bottom: 5rem;
    overflow: visible;
    /*overflow-y: scroll;
    overflow-x: auto;*/
}

:root {
    --shadow-color: var(--emerald);
    --shadow-multiplier: .125em;
    --shadow-mixin:
        0em calc(-1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        0em calc(-1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        0em calc(1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        0em calc(1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(-1 * var(--shadow-multiplier)) 0em 0em var(--shadow-color),
        calc(1 * var(--shadow-multiplier)) 0em 0em var(--shadow-color),
        calc(-1 * var(--shadow-multiplier)) 0em 0em var(--shadow-color),
        calc(1 * var(--shadow-multiplier)) 0em 0em var(--shadow-color),
        calc(-1 * var(--shadow-multiplier)) calc(-1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(1 * var(--shadow-multiplier)) calc(-1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(-1 * var(--shadow-multiplier)) calc(1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(1 * var(--shadow-multiplier)) calc(1 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(-1 * var(--shadow-multiplier)) calc(3 * var(--shadow-multiplier)) 0em var(--shadow-color),
        0em calc(3 * var(--shadow-multiplier)) 0em var(--shadow-color),
        calc(1 * var(--shadow-multiplier)) calc(3 * var(--shadow-multiplier)) 0em var(--shadow-color),
        0em calc(3 * var(--shadow-multiplier)) var(1 * var(--shadow-multiplier)) rgba(0, 0, 0, .1),
        0em 0em calc(1 * var(--shadow-multiplier)) rgba(0, 0, 0, .1),
        0em calc(1 * var(--shadow-multiplier)) var(3 * var(--shadow-multiplier)) rgba(0, 0, 0, .3),
        0em var(2 * var(--shadow-multiplier)) calc(3 * var(--shadow-multiplier)) rgba(0, 0, 0, .2),
        0em calc(3 * var(--shadow-multiplier)) calc(3 * var(--shadow-multiplier)) rgba(0, 0, 0, .25),
        0em calc(4 * var(--shadow-multiplier)) calc(4 * var(--shadow-multiplier)) rgba(0, 0, 0, .2),
        0em calc(6 * var(--shadow-multiplier)) calc(6 * var(--shadow-multiplier)) rgba(0, 0, 0, .15);
}

#CTA_header {
    font-family: "Bangers";
    font-display: swap;
    text-align: left;
    font-size: clamp(4em, 8em, 12em);
    text-transform: uppercase;
    margin: 0.5rem;
    object-position: bottom left;
    animation: glow 4s ease-in-out infinite alternate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --shadow-color: var(--ecru);
    --shadow-multiplier: .25em;
    text-shadow: var(--shadow-mixin);
}

#CTA_paragraph {
    font-size: clamp(1.5em, 3em, 4em);
    font-family: "Bangers";
    text-align: left;
    font-display: swap;
    text-transform: uppercase;
    margin: 0rem 1rem 1rem 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --shadow-color: var(--turkey-red);
    --shadow-multiplier: .375em;
    --shadow-mixin: var(--shadow-mixin);
    text-shadow: var(--shadow-mixin);
    object-position: bottom left;
}

@media screen and (orientation: portrait) {
    .md-hero__teaser {
        position: absolute;
        bottom: 5%;
        width: 80%;
        padding-bottom: 2.5rem;
    }
}

p#CTA_paragraph::after {
    content: '';
    position: relative;
    left: 0;
    bottom: 1em;
    width: 100%;
    height: 2em;
    background: var(--emerald);
    transform: scaleX(0.1);
    transform-origin: left;
    transition: transform 0.5s ease-out;
    animation: thicken 0.5s ease-out forwards;
    animation-play-state: paused;
}

p#CTA_paragraph::after:hover,
p#CTA_paragraph::after:focus {
    transform: scaleX(1);
    animation-play-state: running;
}

@keyframes thicken {
    0% {
        height: 0rem;
        bottom: -.1rem;
    }

    50% {
        height: .3rem;
        bottom: -.3rem;
    }

    100% {
        height: .2rem;
        bottom: -.2em;
    }
}

@keyframes ul {
    from {
        text-decoration: underline 0rem rgba(var(--emerald-adj), 0);
    }

    to {
        text-decoration: underline 0.3rem rgba(var(--emerald-adj), 1);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 .3em var(--emerald);
    }

    to {
        text-shadow: 0 0 0.4em var(--emerald), 0 0 .35em var(--emerald);
    }
}

.hero-cta-button {
    padding: .3rem;
    margin: .3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    text-align: center;
    align-self: center;
    bottom: 0;
    z-index: 1000;
    width: 80%;
    object-fit: cover;
}

div#hero-primary-button {
    font-family: "Montserrat", "Noto Sans", system-ui, sans-serif;
    font-display: swap;
    font-size: .9em;
    z-index: 3000;
    object-fit: cover;
    background: rgba(var(--zaffre-adj), .6);
    color: var(--emerald);
    scale: 1;
    transition:
        background-color 500ms ease-in-out,
        color 500ms ease-in-out,
        scale 650ms ease-in;
}

div#hero-primary-button:hover, div#hero-primary-button:focus {
    background-color: rgba(var(--emerald-adj), 1);
    color: rgba(var(--zaffre), 1);
    text-shadow: 0 0 .1em var(--gunmetal);
    z-index: 100;
    scale: 1.1;
}

div#hero-primary-button:active {
    background-color: rgba(var(--emerald-adj), 1);
    color: rgba(var(--ecru), 1);
    text-shadow: 0 0 .1em var(--gunmetal);
    scale: 0.8;
}

svg#arrow-down {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 85vh;
    left: 50%;
    fill: white;
    animation: blink 5s infinite;
    cursor: pointer;
}

svg#arrow-down:hover {
    fill: var(--emerald);
    animation: blind 3s infinite;
}

@keyframes blink {
    25% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}

/** Easter egg section */

svg#the-egg {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    cursor: pointer;
    pointer-events: fill;
    z-index: 25;
    fill: #ccc;
    display: block;
    position: absolute;
    top: 40vh;
    right: 10vw;
    opacity: 0.55;
}

svg#the-egg:hover {
    fill: var(--ecru);
    opacity: 1;
}

svg#the-egg:target {
    fill: var(--emerald);
    opacity: 1;
}

svg#the-egg:focus {
    fill: var(--emerald);
    opacity: 1;
}

#hero-dialog-position {
    position: absolute;
    bottom: 60vh;
    right: 50vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    width: 80vw;
    max-width: 80vh;
}

#hero-dialog-position::backdrop {
    background: var(--ecru);
    z-index: 1000;
    object-fit: cover;
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid #hero-dialog-position dialog#egg-box.info-box {
    font-family: "Noto Sans", "Montserrat", Arial, Helvetica, system-ui, sans-serif;
    font-size: 1.1em;
    line-height: 1.8;
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 80%;
    max-width: 50em;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    z-index: 10000;

    overscroll-behavior-x: contain;
    overscroll-behavior-y: scroll;
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div#hero-dialog-position dialog#egg-box.info-box::backdrop {
    background: rgba((var(--ecru-adj)), 0.8);
    z-index: 1000;
    object-fit: cover;
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div#hero-dialog-position dialog#egg-box.info-box form p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    position: relative;
    margin: 1em;
    padding: .5em;
    color: var(--ecru)
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div#hero-dialog-position dialog#egg-box.info-box form h1 {
    font-size: 1.5em;
    padding: .5em;
    margin: 1em 1em 0 1em;
    color: var(--emerald)
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div#hero-dialog-position dialog#egg-box.info-box form button#egg-box-close.md-button {
    font-size: 1.2em;
    padding: .6em;
    margin: 1em;
    position: relative;
    text-align: center;
    color: var(--emerald);
    background: var(--zaffre);
    border: 0;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

html.js-focus-visible.js body main.md-main div.md-main__inner.md-grid div#hero-dialog-position dialog#egg-box.info-box form button#egg-box-close.md-button:hover {
    background-color: var(--emerald);
    color: var(--zaffre);
    text-shadow: 0 0 .1em var(--gunmetal);
}

html.js-focus-visible a#yoshimi-link,
html.js-focus-visible a#yoshimi-link:visited {
    color: var(--emerald);
    text-decoration: none;
}

html.js-focus-visible a#yoshimi-link:focus {
    color: var(--emerald);
}

html.js-focus-visible a#yoshimi-link:hover {
    color: var(--zaffre);
}

/* Slide content */
#pt2-hero-content-section {
    display: flex;
    top: 140vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding-top: .01rem;
    background-repeat: no-repeat;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-margin-block-start: 10vh;
    z-index: 10;
    background: var(--air-superiority-blue);
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

#pt2-hero-content-section-header {
    display: block;
    flex-grow: 3;
    scroll-snap-align: start;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    padding: .5em;
    z-index: 50;
}

#revolutionanchor {
    scroll-behavior: smooth;
}

h1#pt2-hero-content-section-header {
    font-size: clamp(5em, 15em, 20em);
    text-transform: uppercase;
    color: var(--atomic-tangerine);
    text-align: center;
    font-family: "Bangers";
    opacity: 1;
    text-shadow: .05em .05em 0 var(--dark-emerald);
}

#pt2-3-buffer {
    display: block;
    height: 40vh;
    width: 100vw;
    position: absolute;
    top: 240vh;
    padding-top: .1px;
    background-repeat: no-repeat;
    z-index: 10;
    background: var(--saffron);
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

#pt3-hero-content-section {
    display: grid;
    top: 280vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding-top: 1px;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scroll-margin-block-start: 10vh;
    scroll-margin-block-end: 7vh;
    scroll-snap-stop: always;
    background-repeat: no-repeat;
    z-index: 10;
    background: var(--gunmetal);
    background-attachment: fixed;
    display: grid;
    grid-template-columns: .5fr 2.5fr 2.5fr .5fr;
    grid-template-rows: 1fr 1.5fr 2fr 2fr 2fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        ". . . ."
        ". head head ."
        ". hlt1 hlt2 ."
        ". hlt3 hlt4 ."
        ". hlt5 hlt6 ."
        ". . . .";
}

h1#pt3-hero-content-section-header.hero-content-section {
    font-family: "Bangers";
    font-size: clamp(3em, 6em, 8em);
    text-transform: uppercase;
    color: var(--emerald);
    text-align: center;
    justify-self: center;
    scroll-snap-align: start;
    width: 100%;
    margin-top: .3rem;
    z-index: 50;
    display: grid;
    grid-area: head;

}

h2.hlt-header {
    font-family: Montserrat, "Noto Sans", system-ui, sans-serif;
    font-size: 2em;
    text-align: left;
    margin-left: .2em;
}

p.hlt-paragraph {
    font-family: "Noto Sans", system-ui, sans-serif;
    font-size: 1.5em;
    text-align: start;
    text-wrap: balance;
    padding: 1em 0em;
    width: 100%;
    padding: 0;
    margin-left: .2em;
}

.hlt-paragraph a,
.hlt-paragraph a:visited,
.hlt-paragraph a:focus {
    color: var(--emerald);
    text-decoration: none;
}

.hlt-paragraph a:hover {
    color: var(--ecru);
}

.hlt-paragraph a:active {
    color: rgb(var(--zaffre));
}

section#pt3-hero-content-section.hero-content-section svg.hlticon {
    fill: var(--ecru);
    padding: 0;
    z-index: 100;
    margin-top: .1em;
    padding-right: 1em;
    width: 100%;
}

.hlt1 {
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn1 hlb1 hlb1"
        "icn1 hlb1 hlb1"
        "icn1 hlb1 hlb1";
    grid-area: hlt1;
    display: grid;
    align-items: stretch;
    justify-items: stretch;

}

.hlb1 {
    grid-area: hlb1;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn1 {
    grid-area: icn1;
    justify-content: center;
    align-content: start;
    align-self: stretch;
    justify-self: stretch;
    margin: 0;
    padding: 0;
    display: grid;
}

.hlt2 {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn2 hlb2 hlb2"
        "icn2 hlb2 hlb2"
        "icn2 hlb2 hlb2";
    grid-area: hlt2;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.hlb2 {
    grid-area: hlb2;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn2 {
    grid-area: icn2;
    display: grid;
}

.hlt3 {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn3 hlb3 hlb3"
        "icn3 hlb3 hlb3"
        "icn3 hlb3 hlb3";
    grid-area: hlt3;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.hlb3 {
    grid-area: hlb3;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn3 {
    grid-area: icn3;
    display: grid;
}

.hlt4 {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn4 hlb4 hlb4"
        "icn4 hlb4 hlb4"
        "icn4 hlb4 hlb4";
    grid-area: hlt4;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.hlb4 {
    grid-area: hlb4;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn4 {
    grid-area: icn4;
    display: grid;
}

.hlt5 {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn5 hlb5 hlb5"
        "icn5 hlb5 hlb5"
        "icn5 hlb5 hlb5";
    grid-area: hlt5;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.hlb5 {
    grid-area: hlb5;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn5 {
    grid-area: icn5;
    display: grid;
}

.hlt6 {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "icn6 hlb6 hlb6"
        "icn6 hlb6 hlb6"
        "icn6 hlb6 hlb6";
    grid-area: hlt6;
    display: grid;
    align-items: stretch;
    justify-items: stretch;

}

.hlb6 {
    grid-area: hlb6;
    align-content: start;
    justify-content: start;
    display: grid;
}

.icn6 {
    grid-area: icn6;
    display: grid;
}

@media screen and (width <=416px) {
    #CTA_header {
        font-size: clamp(2.5em, 3.5em, 6em);
    }

    #CTA_paragraph {
        font-size: clamp(1.3em, 1.7em, 3em);
    }

    h1#pt2-hero-content-section-header {
        font-size: clamp(4em, 6em, 8em);
        text-align: left;
        opacity: 1;
    }

    #pt3-hero-content-section {
        display: grid;
        grid-template-columns: 0.7fr 7.6fr 0.7fr;
        grid-template-rows: .6fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2em 2em;
        grid-auto-flow: row;
        grid-template-areas:
            "head head head"
            ". hlb1 ."
            ". hlb2 ."
            ". hlb3 ."
            ". hlb4 ."
            ". hlb5 ."
            ". hlb6 .";
    }

    h1#pt3-hero-content-section-header.hero-content-section {
        font-size: 2em;
        grid-area: head;
    }

    .hlb1 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn1 hlt1 hlt1"
            "icn1 hlt1 hlt1"
            "icn1 hlt1 hlt1";
        grid-area: hlb1;
    }

    .hlt1 {
        grid-area: hlt1;
    }

    .icn1 {
        grid-area: icn1;
    }

    .hlb2 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn2 hlt2 hlt2"
            "icn2 hlt2 hlt2"
            "icn2 hlt2 hlt2";
        grid-area: hlb2;
    }

    .hlt2 {
        grid-area: hlt2;
    }

    .icn2 {
        grid-area: icn2;
    }

    .hlb3 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn3 hlt3 hlt3"
            "icn3 hlt3 hlt3"
            "icn3 hlt3 hlt3";
        grid-area: hlb3;
    }

    .hlt3 {
        grid-area: hlt3;
    }

    .icn3 {
        grid-area: icn3;
    }

    .hlb4 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn4 hlt4 hlt4"
            "icn4 hlt4 hlt4"
            "icn4 hlt4 hlt4";
        grid-area: hlb4;
    }

    .hlt4 {
        grid-area: hlt4;
    }

    .icn4 {
        grid-area: icn4;
    }

    .hlb5 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn5 hlt5 hlt5"
            "icn5 hlt5 hlt5"
            "icn5 hlt5 hlt5";
        grid-area: hlb5;
    }

    .icn5 {
        grid-area: icn5;
    }

    .hlt5 {
        grid-area: hlt5;
    }

    .hlb6 {
        display: grid;
        grid-template-columns: 01fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "icn6 hlt6 hlt6"
            "icn6 hlt6 hlt6"
            "icn6 hlt6 hlt6";
        grid-area: hlb6;
    }

    .icn6 {
        grid-area: icn6;
    }

    .hlt6 {
        grid-area: hlt6;
    }
}

/* footer */

.md-source-file {
    display: none;
}

.md-tabs {
    margin-top: -.35rem;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(var(--zaffre-adj), 1) 10%, rgba(var(--zaffre-adj), 1) 20%, rgba(var(--zaffre-adj), .5) 100%) !important;
}

footer.md-footer {
    margin-top: 2%;
    position: absolute;
    top: 380vh;
    padding-top: 3rem;
    z-index: 20;
    object-fit: cover;
    width: 100%;

}

@media screen and (min-width: 40em) {
    @supports ((perspective: 2.5rem) and (not (-webkit-overflow-scrolling: touch))) {
        body {
            transform: translateZ(0px);
            /* Fix paint issues in Edge && Safari H/W acceleration */
        }
    }
}

@media screen and (width <=416px),
screen and (orientation: portrait) {
    div.md-tabs {
        display: none !important;
        background: none;
    }

}

header#header-target {
    pointer-events: visible;
    z-index: 1000 !important;
    background: transparent;
    object-fit: cover;
}


html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
    z-index: 1100;
    object-fit: cover;
    background-color: rgba(var(--zaffre-adj), .6);
    margin-top: 2rem;
}


@media screen and (orientation: portrait) and (min-width: 416px) {
    div.md-tabs {
        display: none !important;
        background: none;
    }

    html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
        z-index: 1100;
        object-fit: cover;
        background-color: rgba(var(--zaffre-adj), .6);
        margin-top: 2rem;
    }
}

@font-face {
    font-family: "Montserrat", "Noto Sans", system-ui, sans-serif;
    src:
        local('Montserrat'),
        url("assets/fonts/montserrat.woff2") format("woff2");
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.md-header__option {
    display: none;
}
