

.md-typeset {
    color: var(--md-typeset-color)
}

.md-typeset h2 {
    font-weight: 700;
    margin-top: .175em
}

.md-typeset h2+h3 {
    font-size: 1em;
    margin-top: -.8em
}

.md-typeset :target {
    --md-scroll-margin: 5.2rem
}

.md-main__inner {
    margin: 0
}

.md-main__inner>.md-content,
.md-main__inner>.md-sidebar--secondary {
    display: none
}

.md-content__inner {
    margin-bottom: 0;
    padding: 5.2rem 0
}

.md-content__inner:before {
    display: none
}

.md-content header {
    display: block;
    transition: opacity .75s
}

.js .md-content header[hidden] {
    opacity: 0
}

a#hero_teaser_main_button.md-button {
    background: var(--emerald);
    border-width: 0;
    color: var(--zaffre);
    margin-right: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}

a#hero_teaser_main_button.md_button:hover {
    background-color: var(--zaffre);
    color: var(--emerald);
}

a#hero_teaser_main_button.md-button:active {
    background-color: var(--zaffre);
    color: var(--emerald);
}
a#learn_more_button.md-button--secondary {
    border-width: 0;
    color: var(--emerald);
    background: rgba(var(--zaffre-adj), 0.4);
    margin-top: .5rem;
    border: .01rem solid var(--emerald);
    z-index: 100;
}

.md-header:not(.md-header--shadow) {
    background-color: var(--zaffre);
    transition: background-color 125ms, transform 125ms cubic-bezier(.1, .7, .1, 1), box-shadow 0ms
}

.md-header--shadow {
    transition: background-color .25s, transform .25s cubic-bezier(.1, .7, .1, 1), box-shadow .25s
}

:root {
    --md-parallax-perspective: 2.5rem
}

.mdx-parallax {
    height: 100vh;
    margin-top: -2.4rem;
    overflow: hidden auto;
    overscroll-behavior-y: none;
    perspective: var(--md-parallax-perspective);
    scroll-behavior: smooth;
    width: 100vw
}

.mdx-parallax__group {
    background-color: var(--md-default-bg-color);
    color: var(--md-typeset-color);
    display: block;
    position: relative;
    transform-style: preserve-3d
}

.mdx-parallax__group:first-child {
    background-color: initial;
    contain: strict;
    height: 140vh
}

.safari .mdx-parallax__group:first-child {
    contain: none
}

@media (min-width:125vh) {
    .mdx-parallax__group:first-child {
        height: 120vw
    }
}

@media (min-width:137.5vh) {
    .mdx-parallax__group:first-child {
        height: 125vw
    }
}

@media (min-width:150vh) {
    .mdx-parallax__group:first-child {
        height: 130vw
    }
}

@media (min-width:162.5vh) {
    .mdx-parallax__group:first-child {
        height: 135vw
    }
}

@media (min-width:175vh) {
    .mdx-parallax__group:first-child {
        height: 140vw
    }
}

@media (min-width:187.5vh) {
    .mdx-parallax__group:first-child {
        height: 145vw
    }
}

@media (min-width:200vh) {
    .mdx-parallax__group:first-child {
        height: 150vw
    }
}

.mdx-parallax__group:last-child {
    background-color: var(--md-default-bg-color)
}

.mdx-parallax__layer {
    height: max(120vh, 100vw);
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateZ(calc(var(--md-parallax-perspective)*var(--md-parallax-depth)*-1)) scale(calc(var(--md-parallax-depth) + 1));
    transform-origin: var(--layer-origin-x) var(--layer-origin-y);
    width: 100vw;
    z-index: 10
}
.mdx-parallax__layer.active {
    opacity: 1;
    z-index: 1;
}

.mdx-parallax__layer.fade-out {
    opacity: 0;
    z-index: -1;
    transition: opacity .5s ease-out
}

.mdx-parallax__layer.fade-in {
    opacity: 1;
    z-index: 1;
    transition: opacity 1s ease-in;
}

.mdx-parallax__image {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: var(--md-image-position, 50%);
    position: absolute;
    width: 100%;
    z-index: -1
}

.mdx-parallax__blend {
    background-image: linear-gradient(to bottom, #0000, var(--md-default-bg-color));
    bottom: 0;
    height: min(100vh, 100vw);
    top: auto
}

.mdx-content__column:last-child {
    margin-top: 2.4rem
}

.mdx-content__column p:last-child {
    margin-bottom: 0
}

@media screen and (min-width:60em) {
    .mdx-content__inner {
        display: flex;
        flex-wrap: nowrap;
        gap: 6.4rem
    }

    .mdx-content__column {
        margin-top: 0
    }

    .mdx-content__column:first-child {
        flex: 2 0
    }

    .mdx-content__column:last-child {
        flex: 1 0;
        margin-top: 0
    }
}

.mdx-connect {
    display: block;
    transition: transform .75s cubic-bezier(.075, .85, .175, 1) 125ms, opacity .75s 125ms
}

.js .mdx-connect[hidden] {
    opacity: 0;
    transform: translateY(1.6rem)
}

.mdx-connect .mdx-connect__link {
    color: var(--md-default-fg-color);
    display: block
}

.mdx-connect .mdx-connect__link span {
    margin-right: .2rem
}

.mdx-expect {
    margin: 2.4rem 0
}

.mdx-expect__list {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;
    padding: 0
}

.mdx-expect__item {
    display: flex;
    flex: 1 0 48%;
    gap: .6rem;
    margin: 0;
    transition: transform .75s cubic-bezier(.075, .85, .175, 1), opacity .75s
}

.mdx-expect__item:first-child {
    transition-delay: .2s
}

.mdx-expect__item:nth-child(2) {
    transition-delay: 275ms
}

.mdx-expect__item:nth-child(3) {
    transition-delay: .35s
}

.mdx-expect__item:nth-child(4) {
    transition-delay: 425ms
}

.mdx-expect__item:nth-child(5) {
    transition-delay: .5s
}

.mdx-expect__item:nth-child(6) {
    transition-delay: 575ms
}

.js .mdx-expect__item[hidden] {
    opacity: 0;
    transform: translate(-.8rem, .4rem)
}

.js .mdx-expect__item[hidden]:nth-child(2n) {
    transform: translate(.8rem, .4rem)
}

.mdx-expect__icon {
    fill: currentcolor;
    background-color: var(--md-default-fg-color--lightest);
    border-radius: 100%;
    flex-shrink: 0;
    height: 2.2rem;
    padding: .4rem;
    width: 2.2rem
}

.mdx-expect__description>:last-child {
    margin-bottom: 0
}

@media screen and (max-width:76.234375em) {
    .mdx-expect__description>:last-child {
        margin-left: -2.8rem
    }
}

.mdx-hero {
    display: block;
    height: inherit;
}

.js .mdx-hero[hidden]>* {
    opacity: 0;
    transform: translateY(16px);
    transition: transform 0ms .1s, opacity .1s
}

.mdx-hero__scrollwrap {
    height: 100vh;
    margin-bottom: -100vh;
    position: sticky;
    top: 0;
    z-index: 9
}

.mdx-hero__inner {
    bottom: 3.2rem;
    display: block;
    position: absolute;
    transition: transform .4s cubic-bezier(.1, .7, .1, 1), opacity .25s;
    width: 100%
}

@media screen and (max-width:44.984375em) {
    .mdx-hero__inner {
        bottom: 6.4rem
    }
}
h1#CTA_header {
    font-family: Raleway, Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: .01em .01em 0 var(--ecru);
    font-weight: 500;
    font-stretch: expanded;
    margin-bottom: .4rem;
    z-index: 10;
}

p#CTA_paragraph {
    font-family: Raleway, Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    max-width: 100%;
    width: 100%;
    z-index: 10;
}


svg#yoshimi_question:hover {
    opacity: 1;
    fill: var(--emerald);
}

#yoshimi_question:focus,
#yoshimi_question:active,
svg#yoshimi_question:focus,
svg#yoshimi_question:active {
    opacity: 1;
    fill: var(--ecru);
}

/* .about_hero {
    display: block;
    margin: 0 auto;
    bottom: 30% !important;
    right: 40% !important;
    position: absolute;
    width: 35%;
    z-index: 10;
    min-height: 5em;
}

.about_hero p#about_yoshimi {
    right: 50%;
    object-position: top center;
    overflow-y: scroll;
    min-height: 5em;
    max-height: 10em;
    width: 100%;
    object-fit: cover;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0.1em;
    text-align: left;
    padding: 0.5em;
    background-color: var(--gunmetal);
    color: var(--alice-blue);
    opacity: 0;
    display: none;
    transition: opacity 0.5s, z-index 0s 0.5s;
    z-index: -1;
}*/


.mdx-hero__teaser {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: var(--md-primary-bg-color);
    margin: 0 .8rem;
    max-width: 24rem
}

.mdx-hero__teaser h1 {
    color: inherit;
    font-weight: 700;
    margin-bottom: 0
}

.mdx-hero__teaser :not(.md-button) {
    text-shadow: 0 0 .2rem #211d2dcc
}

.mdx-hero .mdx-hero__attribution {
    bottom: -2.4rem;
    font-size: .5rem;
    padding: .1rem .4rem;
    position: absolute;
    right: .8rem;
    transition: color 125ms, background-color 125ms
}
/*
.mdx-hero .mdx-hero__attribution:focus,
.mdx-hero .mdx-hero__attribution:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color)
}
 */
.mdx-hero__more {
    bottom: -2.4rem;
    display: block;
    left: 50%;
    margin-left: -.6rem;
    pointer-events: none;
    position: absolute;
    text-align: center
}

.mdx-hero__more svg {
    fill: #fff;
    height: 1.2rem;
    width: 1.2rem
}


@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }
}

[data-md-color-primary] .md-tabs {
    background-color: initial;
    position: absolute;
    top: 2.4rem
}
