/* Default settings */

.hero-parallax__image {
  --scale: 1.1;
  --object-fit: fill;
  --perspective: 50em;
  --perspective-origin: center bottom;
  --object-position: center bottom;
  --translate-x: 0%;
  --translate-y: 0%;

  position: relative;
  top: 0;
  z-index: -5;
  box-sizing: content-box;
  display: block;
  flex-grow: 2;
  grid-column-start: 1;
  place-self: start start;
  min-width: 100%;
  min-height: calc((100vh * 0.3) - var(--header-height));
  max-height: var(--parallax-height);
  padding-bottom: 1rem;
  margin-bottom: 0.1rem;
  overflow: hidden visible;
  object-fit: var(--object-fit);
  object-position: center bottom;
  background: var(--gunmetal);
  scale: var(--scale);
  perspective: var(--perspective);
  perspective-origin: center bottom;
}

@keyframes glow {
  from {
    text-shadow:
      0.01em 0.01em 0 var(--oxford-blue),
      0 0 0.16em var(--emerald),
      0.03em 0.03em 0 var(--ecru);
  }

  to {
    text-shadow:
      0.01em 0.01em 0 var(--oxford-blue),
      0 0 0.25em var(--emerald),
      0 0 0.27em var(--emerald),
      0.04em 0.04em 0 var(--ecru);
  }
}

/*
Not really images, but we set colors for the call to action header/subheader by image,
so it made sense for them to live here
*/

#CTA_header {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
  font-family: Bangers, Impact, Haettenschweiler, Charcoal, "Arial Narrow Bold", Gadget, sans-serif;
  font-size: clamp(20px, calc(100vw / 14), 16em);
  color: var(--h1-color);
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  font-display: swap;
  object-position: bottom left;
  transition: 300ms color ease;
  animation: glow 3000ms ease-in-out infinite alternate;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#CTA_paragraph {
  position: relative;
  display: inline-block;
  margin: 0 1rem 1rem;
  font-family: Bangers, Impact, Haettenschweiler, Charcoal, "Arial Narrow Bold", Gadget, sans-serif;
  font-size: clamp(14px, calc(100vw / 19), 12em);
  color: var(--p-color);
  text-align: left;
  text-shadow:
    0.01em 0.01em 0 var(--oxford-blue),
    0.05em 0.05em 0 var(--turkey-red);
  text-transform: uppercase;
  white-space: nowrap;
  font-display: swap;
  object-position: bottom left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms color ease;
}

@media screen and (width <= 416px) {
  #CTA_header {
    font-size: clamp(15px, calc(100vw / 16), 10em);
  }

  #CTA_paragraph {
    font-size: clamp(12px, calc(100vw / 22), 6em);
  }
}

.cta-ul {
  position: relative;
  display: inline-block;
}

.special-ul {
  position: relative;
  display: inline-block;
}

.special-highlight {
  position: relative;
  display: inline-block;
}

.hero-parallax__image--anime {
  --h1-color: var(--atomic-tangerine);
  --p-color: var(--emerald);
}

.hero-parallax__image--artbrut {
  --h1-color: var(--atomic-tangerine);
  --p-color: var(--aqua);
}

.hero-parallax__image--comic {
  --h1-color: var(--aquamarine);
  --p-color: var(--white);
}

.hero-parallax__image--fanciful {
  --h1-color: var(--mindaro);
  --p-color: var(--aqua);
  --perspective-origin: 30% 20%;
  --scale: 1;
  --translate-y: -30%;
}

.hero-parallax__image--fantasy {
  --h1-color: var(--white);
  --p-color: var(--mindaro);
  --scale: 1;
  --translate-y: -20%;
}

.hero-parallax__image--farcical {
  --h1-color: var(--atomic-tangerine);
  --p-color: var(--aqua);
  --sccale: 1;
  --translate-y: -35%;
}

.hero-parallax__image--fauvist {
  --h1-color: var(--mindaro);
  --p-color: var(--white);
}

.hero-parallax__image--minimal {
  --h1-color: var(--atomic-tangerine);
  --p-color: var(--white);
  --scale: 1;
  --perspective: 50rem;
  --translate-y: -25%;
}

.hero-parallax__image--mystical {
  --h1-color: var(--blue-blue);
  --p-color: var(--white);
  --scale: 1;
  --perspective: 40rem;
  --translate-y: -25%;
}

.hero-parallax__image--surreal {
  --h1-color: var(--white);
  --p-color: var(--atomic-tangerine);
  --scale: 1;
  --translate-y: -25%;
}

/* Portrait orientation */
@media (orientation: portrait) {
  .hero-parallax__image {
    --scale: 1.4;
    --object-fit: cover;
    --translate-y: 20%;
  }

  .hero-parallax__image--anime {
    --h1-color: var(--atomic-tangerine);
    --p-color: var(--white);
    --perspective: -50rem;
    --scale: 1.8;
    --translate-y: 40%;
  }

  .hero-parallax__image--artbrut {
    --h1-color: var(--atomic-tangerine);
    --p-color: var(--aqua);
  }

  .hero-parallax__image--comic {
    --h1-color: var(--aquamarine);
    --p-color: var(--white);
    --scale: 1.2;
  }

  .hero-parallax__image--fanciful {
    --h1-color: var(--mindaro);
    --p-color: var(--atomic-tangerine);
  }

  .hero-parallax__image--fantasy {
    --h1-color: var(--atomic-tangerine);
    --p-color: var(--mindaro);
  }

  .hero-parallax__image--farcical {
    --h1-color: var(--mindaro);
    --p-color: var(--aqua);
    --translate-y: 16%;
  }

  .hero-parallax__image--fauvist {
    --h1-color: var(--mindaro);
    --p-color: var(--white);
    --translate-y: 18%;
  }

  .hero-parallax__image--minimal {
    --h1-color: var(--atomic-tangerine);
    --p-color: var(--white);
  }

  .hero-parallax__image--mystical {
    --h1-color: var(--white);
    --p-color: var(--aquamarine);
  }

  .hero-parallax__image--surreal {
    --h1-color: var(--white);
    --p-color: var(--atomic-tangerine);
  }
}

.hero-parallax__layer .hero-parallax__image:not(:first-child) {
  z-index: -300;
  opacity: 0;
  transition: opacity 600ms ease-out, perspective 500ms ease;
}

.hero-parallax__layer .hero-parallax__image:first-child {
  align-content: flex-start;
  align-self: flex-start;
  overflow: hidden visible;
  opacity: 1;
  transition:
    transform 500ms ease, scale 500ms ease, translate 500ms ease, opacity /
    1500ms ease-in, perspective 500ms ease, perspective-origin 500ms ease;
  transform: translate(var(--translate-x), var(--translate-y));
}

/* TODO: get the overlay to actually show without messing up everything */
.fade-overlay {
  --fade-height: var(--parallax-height);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: var(--parallax-height);
  overflow: hidden clip;
  pointer-events: none;
  background:
    linear-gradient(
      to bottom,
      rgba(var(--gunmetal-adj), 0) 70%,
      rgba(var(--gunmetal-adj), 0.3) 85%,
      rgba(var(--gunmetal-adj), 0.6) 90%,
      rgba(var(--gunmetal-adj), 1) 100%
    );
}
