/* stylelint-disable declaration-no-important */

/*
Main stylesheet for the home page

These are basic customizations for the home page.
*/
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@font-face {
  font-family: Bangers, Impact, Haettenschweiler, Charcoal, "Arial Narrow Bold", Gadget, sans-serif;
  font-style: normal;
  font-weight: 500;
  src:
    local("Bangers"),
    local("Bangers Regular"),
    local("Bangers-Regular"),
    url("../fonts/bangers-regular.woff2") format("woff2"),
    url("../fonts/bangers-regular.woff") format("woff");
  /* stylelint-disable-next-line @stylistic/max-line-length */
  unicode-range: U+000D, U+0020-002F, U+003A-0040, U+005B-007E, U+0131, U+0300, U+2013-2014, U+2018-2019, U+201C-201D, U+2026, U+25FC;
}

header#header-target.md-header {
  position: fixed;
  top: 0;
  left: 0;
}

#hero-tabs {
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 1000;
  align-self: flex-start;
  margin-top: calc(var(--nav-height) - 0.2rem);
  background: var(--zaffre);
}

/** Hero section */

.hero {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  place-content: flex-start flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 100vw;
  min-height: calc((100vh * 1.8) - var(--header-height));
  object-fit: cover;
  background: rgb(var(--gunmetal));
}

.hero__parallax {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  place-content: flex-start flex-start;
  align-items: flex-start;
  align-self: flex-start;
  order: -1;
  width: 100vw;
  min-height: var(--parallax-height);
  max-height: calc((100vh * 1.6) - var(--header-height));
  padding-bottom: 2rem;
  margin-top: -2.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden visible;
  background: rgb(var(--gunmetal));
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: translateZ(-3px);
  perspective: 5rem;
}

.hero-parallax__layer {
  position: relative;
  inset: 2rem 0 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-content: start center;
  order: -1;
  width: 100vw;
  min-height: calc((100vh - var(--header-height)));
  max-height: max(var(--parallax-height), calc((100vh * 1.4) - var(--header-height)));
  padding-bottom: 1em;
  overflow: hidden;
  pointer-events: auto;
}

.mdx-hero__teaser {
  position: absolute;
  top: calc((100vh * 0.6) - var(--header-height));
  z-index: 40;
  display: flex;
  flex-direction: column;
  place-self: flex-end center;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 1rem;
}

@media screen and (orientation: portrait) {
  .md-hero__teaser {
    position: absolute;
    bottom: calc((100vh * 0.7) - var(--header-height));
    width: 90%;
    padding-bottom: 1rem;
  }
}

.hero-cta-button {
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  place-content: center center;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 3rem;
  padding: 0.3rem;
  margin: 0.4rem;
  text-align: center;
  user-select: none;
  object-fit: cover;
}

#hero-primary-button {
  z-index: 3000;
  box-sizing: content-box;
  display: inline-block;
  width: max-content;
  height: fit-content;
  padding: 0.7em;
  margin: 0.3em;
  font-family: Inter, "Noto Sans", "Open Sans", Lato, Helvetica, Arial, system-ui, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--emerald);
  font-display: swap;
  pointer-events: all;
  cursor: pointer;
  user-select: none;
  object-fit: cover;
  background: rgba(var(--zaffre-adj), 0.7);
  border-radius: 0.35em;
  transition:
    background-color 350ms ease-in-out,
    color 300ms ease-in-out,
    scale 350ms ease-in;
  scale: 1;
}

#hero-primary-button:hover,
#hero-primary-button:focus {
  z-index: 100;
  color: var(--zaffre);
  background: var(--emerald);
  transition: linear scale 300ms, linear background-color 300ms, linear color 300ms;
  scale: 1.05;
}

#hero-primary-button:active {
  color: var(--ecru);
  text-shadow: 0 0 0.1em var(--gunmetal);
  background: var(--emerald);
  scale: 0.8;
}

svg#arrow-down {
  position: absolute;
  top: max(calc((100vh * 0.93) - var(--header-height)), calc((100vh * 0.97)));
  left: calc(100vw * 0.5);
  z-index: 200;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
  user-select: none;
  border: 0.2rem solid var(--white);
  border-radius: 100%;
  fill: var(--white);
  stroke-width: 0.4rem;
  animation: blink 5000ms infinite;
}

svg#arrow-down:hover {
  fill: var(--emerald);
  animation: blink 3000ms infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

/* Slide content */

#pt2-hero-content-section {
  position: relative;
  left: 0;
  z-index: 10;
  box-sizing: content-box;
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;
  place-self: center center;
  justify-content: space-evenly;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: contain;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  scroll-margin-block-start: 10vh;
  background: var(--air-superiority-blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  container-name: hero-message;
  contain: content;
}

h1.hero-content-section.header-mid {
  z-index: 50;
  display: block;
  width: 100vw;
  padding: 0.3em;
  margin: 0.1em;
  overflow: hidden;
  font-size: clamp(14px, calc(100vw / 8), 40em);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
}

h1.hero-content-section.header-mid.line {
  display: inline-block;
  max-width: 100vw;
  max-height: (100vh - var(--header-height) - 0.6em);
  padding: 0.3em;
  font-family: Bangers, Impact, Haettenschweiler, Charcoal, "Arial Narrow Bold", Gadget, sans-serif;
  color: var(--atomic-tangerine);
  text-shadow:
    0.04em 0.04em 0 var(--blue-blue),
    0.05em 0.05em 0.01em var(--aquamarine),
    0.06em 0.06em 0 var(--night);
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
}

.ul {
  text-decoration: solid underline var(--emerald) 1.8em;
}

#pt2-3-buffer {
  position: relative;
  left: 0;
  z-index: 10;
  display: block;
  place-items: center center;
  place-self: center center;
  justify-content: center;
  min-width: 100vw;
  max-width: 105vw;
  min-height: (calc(100vh - var(--header-height)) * 0.8);
  max-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  background: var(--ecru);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pt3-hero-content-section {
  position: relative;
  left: 0;
  z-index: 10;
  box-sizing: content-box;
  display: grid;

  /* Define grid areas */
  grid-template:
    ".     .     .     .     " 1fr ".     head  head  .     " 1.5fr ".     hlt1  hlt2  .     " 2fr ".     hlt3  hlt4  .     " 2fr ".     hlt5  hlt6  .     " 2fr ".     .     .     .     " 1fr / 0.5fr 2.5fr 2.5fr 0.5fr;
  grid-auto-flow: row;
  gap: 1em;
  place-items: stretch stretch;
  width: 105vw;
  min-width: 100vw;
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  padding: 1em;
  margin: 1em 0;
  overflow: hidden visible;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-block: 10vh 7vh;
  background: var(--gunmetal);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pt3-hero-content-section-header {
  z-index: 50;
  display: grid;
  grid-area: head;
  place-self: first baseline center;
  width: 100%;
  margin-top: 0.3rem;
  font-family: Bangers, Impact, Haettenschweiler, Charcoal, "Arial Narrow Bold", Gadget, sans-serif;
  font-size: clamp(10px, calc(100vw / 26), 16em);
  color: var(--emerald);
  text-align: center;
  text-shadow: 0.01em 0.01em 0 var(--oxford-blue);
  text-transform: uppercase;
  white-space: nowrap;
  scroll-snap-align: start;
}

h2.hlt-header {
  margin-left: 0.2em;
  font-family: Inter, "Noto Sans", "Open Sans", Lato, Helvetica, Arial, system-ui, sans-serif;
  font-size: clamp(10px, 1.75em, 4em);
  text-align: left;
}

p.hlt-paragraph {
  width: 100%;
  padding: 0.75em 0;
  padding: 0;
  margin-left: 0.2em;
  font-family: Inter, "Noto Sans", "Open Sans", Lato, Helvetica, Arial, system-ui, sans-serif;
  font-size: clamp(8px, 1.25em, 2em);
  text-align: start;
  text-wrap: balance;
}

.hlt-paragraph a,
.hlt-paragraph a:visited,
.hlt-paragraph a:focus {
  color: var(--emerald);
  text-decoration: none;
}

.hlt-paragraph a:hover {
  color: var(--ecru);
}

.hlt-paragraph a:active {
  color: rgb(var(--zaffre));
}

section#pt3-hero-content-section.hero-content-section svg.hlticon {
  z-index: 100;
  width: 100%;
  padding: 0;
  padding-right: 1em;
  margin-top: 0.1em;
  fill: var(--ecru);
}

.hlt1 {
  display: grid;
  grid-area: hlt1;
  grid-template:
    "icn1 hlb1 hlb1" 1fr "icn1 hlb1 hlb1" 1fr "icn1 hlb1 hlb1" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb1 {
  display: grid;
  grid-area: hlb1;
  place-content: start start;
}

.icn1 {
  display: grid;
  grid-area: icn1;
  place-content: start center;
  place-self: stretch stretch;
  padding: 0;
  margin: 0;
}

.hlt2 {
  display: grid;
  grid-area: hlt2;
  grid-template:
    "icn2 hlb2 hlb2" 1fr "icn2 hlb2 hlb2" 1fr "icn2 hlb2 hlb2" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb2 {
  display: grid;
  grid-area: hlb2;
  place-content: start start;
}

.icn2 {
  display: grid;
  grid-area: icn2;
}

.hlt3 {
  display: grid;
  grid-area: hlt3;
  grid-template:
    "icn3 hlb3 hlb3" 1fr "icn3 hlb3 hlb3" 1fr "icn3 hlb3 hlb3" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb3 {
  display: grid;
  grid-area: hlb3;
  place-content: start start;
}

.icn3 {
  display: grid;
  grid-area: icn3;
}

.hlt4 {
  display: grid;
  grid-area: hlt4;
  grid-template:
    "icn4 hlb4 hlb4" 1fr "icn4 hlb4 hlb4" 1fr "icn4 hlb4 hlb4" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb4 {
  display: grid;
  grid-area: hlb4;
  place-content: start start;
}

.icn4 {
  display: grid;
  grid-area: icn4;
}

.hlt5 {
  display: grid;
  grid-area: hlt5;
  grid-template:
    "icn5 hlb5 hlb5" 0.5fr "icn5 hlb5 hlb5" 1fr "icn5 hlb5 hlb5" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb5 {
  display: grid;
  grid-area: hlb5;
  place-content: start start;
}

.icn5 {
  display: grid;
  grid-area: icn5;
}

.hlt6 {
  display: grid;
  grid-area: hlt6;
  grid-template:
    "icn6 hlb6 hlb6" 1fr "icn6 hlb6 hlb6" 1fr "icn6 hlb6 hlb6" 1fr / 0.5fr 1.5fr 1.5fr;
  grid-auto-flow: row;
  gap: 0;
  place-items: stretch stretch;
}

.hlb6 {
  display: grid;
  grid-area: hlb6;
  place-content: start start;
}

.icn6 {
  display: grid;
  grid-area: icn6;
}

@media screen and (width <= 416px) {
  h1#pt2-hero-content-section-header {
    font-size: clamp(16px, 6em, 8em);
    text-align: left;
    opacity: 1;
  }

  #pt3-hero-content-section {
    display: grid;
    grid-template:
      "head head head" 0.6fr ". hlb1 ." 1fr ". hlb2 ." 1fr ". hlb3 ." 1fr ". hlb4 ." /
      auto ". hlb5 ." 1fr ". hlb6 ." 1fr / 0.7fr 7.6fr 0.7fr;
    grid-auto-flow: row;
    gap: 2em;
  }

  h1#pt3-hero-content-section-header.hero-content-section {
    grid-area: head;
    font-size: clamp(14px, 2em, 6em);
  }

  .hlb1 {
    display: grid;
    grid-area: hlb1;
    grid-template:
      "icn1 hlt1 hlt1" 1fr "icn1 hlt1 hlt1" 1fr "icn1 hlt1 hlt1" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .hlt1 {
    grid-area: hlt1;
  }

  .icn1 {
    grid-area: icn1;
  }

  .hlb2 {
    display: grid;
    grid-area: hlb2;
    grid-template:
      "icn2 hlt2 hlt2" 1fr "icn2 hlt2 hlt2" 1fr "icn2 hlt2 hlt2" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .hlt2 {
    grid-area: hlt2;
  }

  .icn2 {
    grid-area: icn2;
  }

  .hlb3 {
    display: grid;
    grid-area: hlb3;
    grid-template:
      "icn3 hlt3 hlt3" 1fr "icn3 hlt3 hlt3" 1fr "icn3 hlt3 hlt3" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .hlt3 {
    grid-area: hlt3;
  }

  .icn3 {
    grid-area: icn3;
  }

  .hlb4 {
    display: grid;
    grid-area: hlb4;
    grid-template:
      "icn4 hlt4 hlt4" 1fr "icn4 hlt4 hlt4" 1fr "icn4 hlt4 hlt4" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .hlt4 {
    grid-area: hlt4;
  }

  .icn4 {
    grid-area: icn4;
  }

  .hlb5 {
    display: grid;
    grid-area: hlb5;
    grid-template:
      "icn5 hlt5 hlt5" 1fr "icn5 hlt5 hlt5" 1fr "icn5 hlt5 hlt5" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .icn5 {
    grid-area: icn5;
  }

  .hlt5 {
    grid-area: hlt5;
  }

  .hlb6 {
    display: grid;
    grid-area: hlb6;
    grid-template:
      "icn6 hlt6 hlt6" 1fr "icn6 hlt6 hlt6" 1fr "icn6 hlt6 hlt6" 1fr / 01fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .icn6 {
    grid-area: icn6;
  }

  .hlt6 {
    grid-area: hlt6;
  }
}

/** Easter egg section */

svg#the-egg {
  position: absolute;
  top: calc((100vh * 0.4) - var(--header-height));
  right: calc(100vw / 10);
  z-index: 25;
  display: none; /* enabled by JavaScript; off for noscript */
  width: 1rem;
  height: 1rem;
  pointer-events: all;
  cursor: pointer;
  opacity: 0.55;
  fill: #cccccc;
}

svg#the-egg:hover,
svg#the-egg:focus,
svg#the-egg:target {
  opacity: 1;
  fill: var(--emerald);
}

svg#the-egg:active {
  opacity: 1;
  fill: var(--ecru);
}

#hero-dialog-position {
  position: absolute;
  right: calc(100vw / 2);
  bottom: calc((100vh * 0.6) - var(--header-height));
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: calc(100vw * 0.7);
  max-width: calc(100vw * 0.8);
  object-fit: cover;
  object-position: center;
}

#hero-dialog-position::backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(var(--ecru-adj), 0.6);
  background-attachment: fixed;
}

dialog#egg-box.info-box {
  position: relative;
  z-index: 10000;
  width: 80%;
  min-width: 10em;
  max-width: 50em;
  padding: 1rem;
  overscroll-behavior: contain scroll;
  font-family: Inter, "Noto Sans", "Open Sans", Lato, Helvetica, Arial, system-ui, sans-serif;
  font-size: clamp(8px, 1.1em, 1.4em);
  line-height: 1.8;
  color: var(--white);
  object-fit: cover;
  object-position: center;
  background:
    linear-gradient(
      to bottom,
      rgba(var(--smokier-black-adj), 1) 25%,
      rgba(var(--smokier-black-adj), 0.9) 50%,
      rgba(var(--smokier-black-adj), 0.8) 75%,
      rgba(var(--smokier-black-adj), 0.75) 100%
    );
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

dialog#egg-box.info-box::backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba((var(--ecru-adj)), 0.7);
}

dialog#egg-box.info-box form p {
  position: relative;
  padding: 0.5em;
  margin: 1em;
  font-size: clamp(9px, 1.2em, 1.4em);
  line-height: 1.6;
  color: var(--ecru);
  text-align: justify;
}

dialog#egg-box.info-box form h1 {
  padding: 0.5em;
  margin: 1em 1em 0;
  font-size: clamp(12px, 3em, 6em);
  color: var(--emerald);
  white-space: nowrap;
}

button#egg-box-close.md-button {
  position: relative;
  padding: 0.6em;
  margin: 1em;
  font-size: 1.2em;
  color: var(--emerald);
  text-align: center;
  cursor: pointer;
  background: var(--zaffre);
  border: 0;
  border-radius: 1em;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

button#egg-box-close.md-button:hover {
  color: var(--zaffre);
  text-shadow: 0 0 0.1em var(--gunmetal);
  background-color: var(--emerald);
}

a#yoshimi-link,
a#yoshimi-link:visited {
  color: var(--emerald);
  text-decoration: none;
}

a#yoshimi-link:hover,
a#yoshimi-link:focus {
  color: var(--mindaro);
}

@media screen and (width <= 416px),
  screen and (orientation: portrait) {
  #hero-tabs {
    display: none !important;
    background: none;
  }
}

@media screen and (orientation: portrait) and (min-width: 416px) {
  #hero-tabs {
    display: none !important;
    background: none;
  }

  .hero-parallax__image {
    object-fit: cover;
    scale: 1.4;
    translate: 0% 20%;
  }
}
