/* stylelint-disable declaration-no-important */

/* Styling for definitions in license tabbed blocks */

.md-typeset .tabbed-block dl dt code.highlight {
  font-size: 1em !important;
  font-weight: 500 !important;
}

[data-md-color-scheme="slate"] .md-typeset .tabbed-block dl dt code.highlight {
  color: var(--ecru) !important;
}

[data-md-color-scheme="default"] .md-typeset .tabbed-block dl dt code.highlight {
  color: var(--zaffre) !important;
}

/* Special highlighting to make words stand out in an admonition title */
[data-md-color-scheme="default"] #detail-title-highlight {
  font-weight: 700;
  color: var(--blue-blue);
}

[data-md-color-scheme="slate"] #detail-title-highlight {
  font-weight: 700;
  color: var(--emerald);
}

/* Styling for the license divider in the license reader view */
[data-md-color-scheme="default"] p.license-divider {
  padding-top: 3.125em;
  border-bottom: 0.188em dotted var(--ecru);
}

[data-md-color-scheme="slate"] p.license-divider {
  padding-top: 3.125em;
  border-bottom: 0.188em dotted var(--air-superiority-blue);
}

/* Styling blocks for the license header in the license reader view */
[data-md-color-scheme="slate"] h1.license-title {
  color: var(--ecru);
}

[data-md-color-scheme="default"] h1.license-title {
  color: var(--blue-blue);
  border-bottom: 0.1em solid var(--ecru);
}

.md-typeset .tabbed-block h2.license-first-header {
  padding: 0;
  margin: 0 0 0.5em;
  text-align: left;
}

.license-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0.313em 0.938em 0 0;
}

.license-title {
  justify-self: left;
  margin: 0;
  line-height: 0;
  text-align: left;
}

.version-info {
  place-self: flex-start normal;
  padding: 0.65em;
  margin: 1.875em 0.313em 0.313em 0.938em;
  font-size: 0.85em;
  color: #ffffff;
  text-align: center;
  background-color: var(--air-superiority-blue);
  border-radius: 0.313em;
}

.version-info p {
  margin: 0;
  font-weight: 500;
}

.version-info p.original_version {
  font-weight: 400;
}

.version-info p.plain_version {
  font-weight: 800;
}

/* Styling for the license tabbed labels in the license reader view */
.md-typeset .tabbed-labels> label> [href]:first-child { /* the tab bar */
  margin-bottom: 0.5em;
}

.md-typeset .tabbed-labels--linked> label> a { /* tab font */
  font-size: 1.1em;
}

.md-typeset .tabbed-labels> label> [href]:first-child:hover { /* link hover in tabs */
  color: var(--ecru);
}

.md-typeset .tabbed-labels::before {
  margin-bottom: 0.3em;

  /* underline for active tab */
  border-bottom: 0.125em solid var(--ecru);
}

p.md-nav__description.license {
  position: relative;
  min-height: 3em;
  padding-top: 1.5em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
  font-size-adjust: calc(1em + 1vw);
  color: var(--md-default-fg-color--lighter);
  text-align: center;
  vertical-align: bottom;
  border-bottom: 0.125em solid var(--emerald);
}

/* styling for quicklinks on right sidebar for licenses */
.md-nav.md-nav--secondary .quick_links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-end;
  justify-content: space-evenly;
  width: 100%;
  min-height: 3em;
  padding: 0.01em;
  margin: 0.5em 0.2em;
}

.md-nav.md-nav--secondary .quick_links .quicklink_group {
  min-width: 3em;
  max-width: 3em;
  padding: 0.01em;
  margin: 0.01em;
}

/* initial quicklink color */
[data-md-color-scheme="default"] div.quick_links a.quicklink_group span.tab_quick_link svg path {
  fill: var(--zaffre);
  transition: fill 300ms ease;
}

[data-md-color-scheme="slate"] div.quick_links a.quicklink_group span.tab_quick_link svg path {
  fill: var(--md-default-fg-color--light);
}

/* quicklink styling on hover */
nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:hover span.tab_quick_link svg path {
  width: 100%;
  cursor: pointer;
  fill: var(--emerald);
}

.md-typeset .tabbed-labels > label > [href]:first-child.hovered {
  color: var(--emerald);
  cursor: pointer;
}

nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:active {
  border-bottom: 0.125em solid var(--ecru);
}

div.tabbed-set.tabbed-alternate div.tabbed-labels.tabbed-labels--linked label a span.twemoji {
  margin-left: 0.3em;
}

/* Change color on active */
nav.md-nav.md-nav--secondary div.quick_links a.quicklink_group:active span.tab_quick_link svg path {
  fill: var(--ecru);
}

.license_about_intro_container {
  box-sizing: content-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  min-height: 3em;
  padding: 0.2em;
  margin: 0.5em;
}

.license_about_intro_container .license_intro {
  width: 85%;
  padding: 2em 3em 2em 1em;
  font-size: 1em;
  font-weight: 500;
  color: var(--md-default-fg-color--light);
  text-align: left;
}

.license_about_intro_container .intro_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0.5em;
  margin-right: 1em;
}

.license_about_intro_container .intro_icon svg {
  width: 100%;
  height: 100%;
  fill: var(--emerald);
}

.license_about_intro_container .intro_icon path {
  fill: inherit;
}

/* tag styling for license sidebar */
#license-sidebar-inner {
  overflow-x: hidden;
}

#license-sidebar-inner .md-tags {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

#license-sidebar-inner .md-tag {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.3125em 0.125em;
  font-size: 0.64rem;
  font-size: min(0.8em, 0.64rem);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: normal;
  background: var(--md-default-fg-color--lightest);
  border-radius: 2.4rem;
}

#license-sidebar-inner .md-tag[href] {
  -webkit-tap-highlight-color: transparent;
  color: var(--emerald);
  outline: none;
  transition: color 125ms, background-color 125ms;
}

#license-sidebar-inner .md-tag[href]:focus,
#license-sidebar-inner .md-tag[href]:hover {
  color: var(--md-accent-bg-color);
  background-color: var(--md-accent-fg-color);
}

#license-sidebar-inner [id]> .md-tag {
  vertical-align: text-top;
}

#license-sidebar-inner .md-tag-icon::before {
  display: inline-block;
  width: 3em;
  height: 3em;
  vertical-align: text-bottom;
  content: "";
  background-color: var(--md-accent-bg-color);
  mask-image: var(--md-tag-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: background-color 125ms;
}

#license-sidebar-inner .md-tag-icon[href]:focus::before,
#license-sidebar-inner .md-tag-icon[href]:hover::before {
  background-color: var(--md-accent-bg-color);
}

/* expanding how-to-use section */
.expanding-section {
  margin: 1.25em 0;
}

.section-header {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}

.triangle {
  margin-right: 2em;
  margin-left: 0.5em;
  color: var(--emerald);
  transition: transform 300ms ease;
}

.section-content {
  max-height: 0;
  padding-left: 1.25em;
  overflow: hidden;
  transition: max-height 300ms ease;

  /* To align with header text */
}

.section-content p {
  padding: 1em;
  margin: 0;
  color: var(--night);
  background-color: var(--cool-gray);
  border-radius: 2em;
}

.section-content p a {
  color: var(--zaffre);
  cursor: pointer;
}

.section-content p a:hover {
  color: var(--emerald);
}

[data-md-color-scheme="slate"] #license-sidebar-inner .md-tag[href]::before {
  background: var(--md-default-fg-color--light);
}
